{% load static %}

<header class="header">
    <div class="container container--narrow">
      <a href="{% url 'home' %}" class="header__logo">
        <img style="float: left;" src="{% static 'images/logo.png' %}" alt="DevSearch Logo" />
      </a>

      <div class="hero-section__search">
        <form class="form" action="" method="get">
          <div style="font-size: 10px;" class="form__field">
            <input style="width: 70%;" class="input input--text" id="formInput#search" type="text" name="text"/>
          </div>

          <input style="margin-left: -15px;" class="btn btn--sub" type="submit" value="Search" />
        </form>
      </div>

      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        
        <ul class="header__menu">
          {% if request.path == '/kerko-pune/' %}
          <li class="header__menuItem"><a href="{% url 'shpall-pune' %}">Shpall Pune</a></li>
          {% else %}
          <li class="header__menuItem"><a href="{% url 'kerko-pune' %}">Pune</a></li>
          {% endif %}
          <li class="header__menuItem"><a href="{% url 'puntor' %}">Punetor</a></li>
          {% if request.user.is_authenticated %}
          <li class="header__menuItem"><a href="{% url 'inbox' %}">Inbox</a></li>

          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <li class="header__menuItem"><a href="{% url 'profile' user.profile.username %}">Account</a></li>
            <a href="{% url 'edit-profile' %}">Edit-Account</a>
            <a href="">SETTINGS</a> <!--SETTINGS-->
            <a href="{% url 'logout' %}" class="btn btn--sub">Log Out</a>
          </div>
          
          <!-- Use any element to open the sidenav -->
        <span onclick="openNav()">
            {% if user.profile.profilepic %}
            <img class="avatar avatar--md" src="{{ user.profile.profilepic.url }}" >
            {% else %}
            <img src="{% static 'images/profiles/user-default.png' %}" class="avatar avatar--md">
            {% endif %}
        </span>
          
          {% else %}
          <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Login/Sign Up</a></li>
          {% endif%}
        </ul>
      </nav>
    </div>
</header>